.card {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &:before {
    content: "";
    display: block;
    padding-top: 100%; 	/* initial ratio of 1:1*/
  }
  &__image {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: auto;
    opacity: 0;
    transition: opacity 1s ease-in;
    &--fade-in {
      opacity: 1;
    }
  }
}


// basic loader css example
.loader {
  position: absolute;
  border: 14px solid #f3f3f3;
  border-radius: 50%;
  border-top: 14px solid #3498db;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg) }
  100% { -webkit-transform: rotate(360deg) }
}

@keyframes spin {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}
